.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DungLM6 */
:root {
  --gradient: linear-gradient(to left top, #cf0a0a 10%, #dc5f00 90%) !important;
  --box-red: #de0050;
  --box-orange: #dc5f00;
  --box-white: #eeeeee;
  --box-black: #272323;
  --box-text: #eeeeee;
  --box-prink: ;
}

body {
  font-family: "Montserrat", sans-serif !important;

  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  /* display: inline; */
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--box-white);
}
ul.row-menu-nav {
  display: flex;
  align-items: center;
  .dropdown-menu {
    z-index: 5;
  }
  .dropdown-menu {
    z-index: 5;
  }
  z-index: 3;
}

.row-menu {
  height: 80px;
  display: flex;
  justify-content: center;
  color: var(--box-white);
}
.text {
  text-align: center;
}
.box-menu-text.active {
  background-color: var(--box-red);
}

.menuText h1 {
  color: white;
}
main {
  padding: 20px;
}

.featured-products h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.featured-products .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-products .product {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 10px;
}

.featured-products .product img {
  width: 100%;
}

.featured-products .product h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.featured-products .product p {
  margin: 0;
}

.featured-products .product a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.promotions h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.promotions .promotion-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promotions .promotion {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
}

.promotions .promotion img {
  width: 100%;
}

.promotions .promotion h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.promotions .promotion p {
  margin: 0;
}
/* header */

img.header-image {
  height: 60px;
}

.input-group button.btn.btn-danger {
  border-radius: 25px;
}
li {
  margin: 0;
}
button.btn.btn-danger.dropdown-toggle {
  border-radius: 25px 0px 0px 25px;
  width: 195px;
  display: flex;
  justify-content: space-between;
}
input#form-search {
  border-radius: 0px;
  width: 558px;
  border: 1px solid #dc3545;
  height: 46px;
  border: 1px solid var(--box-red);
  padding: 10px;
  background-color: #fff;
}

::after {
  margin-top: 10px;
}
/* Wrap */
.wrap {
  position: relative;
  z-index: 0;
  width: 100%;
}
.wrap .phone {
  z-index: 1;
  font-weight: 200;
}
.wrap .phone span {
  color: rgba(255, 255, 255, 0.6);
}
.wrap .phone a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
@media (max-width: 767.98px) {
  .wrap .reg {
    width: 50%;
    text-align: right;
  }
}
.social-media {
  display: inline-block;
}
@media (max-width: 767.98px) {
  .social-media {
    width: 50%;
  }
}
.social-media p {
  display: block;
  width: 100%;
}
.social-media p a {
  height: 30px;
  margin-right: 10px;
}
.social-media p a span {
  font-size: 12px;
  color: #fff;
}
.social-media p a:hover {
  background: #b7472a;
  border-color: #b7472a;
}
.social-media p a:hover span {
  color: #fff;
}
.wrap .reg p {
  font-weight: 200;
}
.wrap .reg p a {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 13px;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

/* dropdown */

/* rounded icon hover */
header ul li a {
  text-decoration: none;
  color: var(--box-white);
  display: block;
  text-align: center;
}
.rounded-icon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #242424;
  text-align: center;
  line-height: 45px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.rounded-icon a {
  color: #fff !important;
  text-decoration: none;
}

.rounded-icon:not(:has(img)):hover {
  background-color: #ed3a52;
}
a {
  text-decoration: none !important;
}
ul.icon-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.box-search {
  display: flex;
}

/* Chỉnh kiểu dáng của icon search */
.rounded-icon:first-child {
  margin-right: 5px;
}

.rounded-icon a {
  color: var(--box-black);
  font-size: 19px;
  padding-top: -21px;
}

/* Chỉnh màu nền của header */
header {
  background-color: #111111;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Chỉnh màu chữ và hiệu ứng khi hover */
header ul li a {
  color: #000;
  transition: color 0.3s ease;
}

header ul li a:hover {
  color: #ed3a52;
  font-weight: bold;
}

/* Chỉnh kiểu dáng của menu dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1 !important;
  overflow: hidden !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.dropdown-menu li a:hover {
  background-color: #ed3a52;
  color: #fff;
}

.menu-item a {
  width: 155px;
}

/* Chỉnh kiểu dáng của ô tìm kiếm */
button.btn.btn-danger {
  padding: 10px;
}

/* Chỉnh kiểu dáng của logo */
.box-logo img.header-image {
  height: 60px;
}

/* Chỉnh kiểu dáng của số điện thoại và liên hệ */
.phone a,
.phone span,
.social-media p a,
.wrap .reg p a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  transition: color 0.3s ease;
}

/* Chỉnh kiểu dáng của social media icons */
.social-media p a {
  height: 30px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.social-media p a:hover {
  background-color: #ed3a52;
}

.social-media p a span {
  color: var();
}

/* Chỉnh kiểu dáng của menu items */
.menu-item a {
  color: #fff;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.menu-item a:hover {
  /* background-color: #ed3a52; */
  transform: scale(1.2);
}

/* Chỉnh kiểu dáng của menu dropdown items */
.dropdown-menu li a {
  color: #000;
  font-weight: normal;
}

.dropdown-menu li a:hover {
  font-weight: bold;
}
/* banner */
/* .banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.slideshow {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade 10s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} */

.carousel-caption {
  top: 33%;
}

.carousel-caption i {
  font-size: 21px;
}

.carousel-caption a {
  color: #fff;
  transition: all 0.3s ease;
}

.carousel-caption a:hover {
  opacity: 0.5;
  color: #fff;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  z-index: 2;
}

.background-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 4;
}

@media (max-width: 1180px) {
  .carousel-caption h5 {
    font-size: 2.5rem !important;
    margin-bottom: 15px !important;
  }
  .carousel-caption p {
    font-size: 1rem !important;
    margin-bottom: 20px !important;
  }
  .carousel-caption {
    top: 23%;
  }
}

@media (max-width: 980px) {
  .carousel-caption {
    top: 20%;
  }
  .carousel-caption h5 {
    font-size: 1.5rem !important;
  }
  .carousel-caption p {
    font-size: 0.75rem !important;
  }
  .carousel-caption .btn {
    display: none;
  }
}

@media (max-width: 680px) {
  .carousel-caption {
    top: 30%;
  }
  .carousel-caption p {
    display: none;
  }
}

/* card css */
/* font text */
.menuText {
  display: flex;
  justify-content: center;
}
/* hover card */
.card_hover {
  transition: 0.3s;
}
a.btn.btn-danger.mr-2 {
  display: block;
}
.card_hover:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: var(--box-orange) 0px 54px 55px, var(--box-orange) 0px -12px 30px,
    var(--box-orange) 0px 4px 6px, var(--box-orange) 0px 12px 13px,
    var(--box-orange) 0px -3px 5px;
}

.text {
  display: flex;
  justify-content: center;
}

body {
  background-image: url("/public/background2.png");
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

.card {
  background: #222 !important;
  border: 1px solid var(--box-orange) !important;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}
p {
  color: white;
}
span.page-link {
  --bs-pagination-padding-x: 11px !important;
  --bs-pagination-padding-y: 2px !important;
}

.menu-food-image .col-md-4 {
  width: 315px;
  flex: 0 0 auto !important;
}
.row.menu-food-image {
  display: flex;
  justify-content: center;
  margin: 0 !important;
}
/* Menu Card */
.box-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.box-menu-text {
  --height-button: 74px;
  text-align: center;
  height: var(--height-button);
  width: 145px !important;
  color: white;
  margin-left: calc(10px / 2);
  margin-right: calc(10px / 2);

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
  border-radius: 28px 28px 28px 28px;
  line-height: var(--height-button);
  cursor: pointer;
}
.box-menu-text:hover {
  background-color: var(--box-red);
}
.box-menu-text.active {
  background-color: var(
    --box-red
  ); /* Định nghĩa lại các thuộc tính CSS cho menu khi active */
}
.card-body {
  min-height: 220px;
}
i.fa.fa-shopping-cart {
  line-height: auto;
  margin-top: 3px;
  margin-right: 4px;
}

/* zoom */
.zoom {
  cursor: pointer;
  transition: transform 0.3s;
  overflow: hidden;
}
.image-zoom {
  position: relative;
  width: 100%;
  height: 100%;
}

.zoom:hover .image-zoom img {
  transform: scale(1.1);
}

/* custom card */
.custom-card {
  cursor: pointer;
  transition: 0.3s;
}
.custom-card:hover {
  transform: translateY(-10px);
}
/* CSS Detail Food */
.center {
  width: 150px;
  margin: 40px auto;
}
div#increase {
  width: 40px;
  height: 40px;
  margin-top: -2px;
}
div#decrease {
  width: 40px;
  height: 40px;
  margin-top: -2px;
}
img {
  width: 100%;
  height: 100%;
}
img.card-img-top.imageFood {
  height: 235px;
}
span.badge.rounded-pill {
  font-size: 16px;
  padding: 0 !important;
}

.col-md-6.food-detail-left {
  display: flex;
  justify-content: center;
  margin: 0 !important;
}

.detail-right-button {
  display: flex;
}
.row.food-detail {
  margin-top: 70px !important;
}

h4 {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.card-icon {
  display: inline-block;
  width: 32px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -7px;
}
a#addCartFood {
  color: white;
}
.card-icon-text {
  color: white;
}
h4.food-nameFood {
  color: white !important;
}
.detail-right-checkout {
  display: flex;
}
.image-zoom.detail-food-image {
  min-height: 406px;
  max-height: 406px;
}
p.food-description {
  min-height: 145px;
  max-height: 145px;
  color: white;
}

.detail-right-note {
  margin-bottom: 38px;
  color: white;
}

.card-icon-box {
  margin-left: 39px;
}
bdi {
  color: var(--box-orange);
  font-size: 20px;
  margin-left: 10px;
}

.card.zoom {
  min-height: 475px;
  max-height: 475px;
  min-width: 625px;
  max-width: 625px;
}
.food-detail-related-name {
  display: flex;
  color: white;
  justify-content: center;
}
.list-manager td img {
  width: 70px;
  height: 60px;
}
p.card-text {
  font-weight: bold;
  min-height: 110px;
  color: white;
}
.col-md-6.food-detail-right {
  padding-left: 24px;
}
.food-nameFood-detail a {
  color: white;
}

/* Footer */
/* Footer .ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.about-author .desc h3 {
  font-size: 24px;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.ftco-bg-dark {
  background: #3c312e;
}

.ftco-footer {
  font-size: 14px;
  background: #141313;
  padding: 6em 0;
}
.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}
.ftco-footer .ftco-footer-widget ul li a span {
  color: #fff;
}
.ftco-footer .ftco-footer-widget .open-hours li span {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer .ftco-footer-widget .thumb a.thumb-menu {
  width: 100%;
  height: 100px;
  display: block;
}
.ftco-footer .ftco-footer-widget .btn-primary {
  background: #fff !important;
  border: 2px solid #fff !important;
}
.ftco-footer .ftco-footer-widget .btn-primary:hover {
  background: #fff;
  border: 2px solid #fff !important;
}
.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a:hover {
  color: #fff;
}
.ftco-footer .ftco-heading-2 {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}
.ftco-footer .categories li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ftco-footer .categories li a span {
  color: rgba(255, 255, 255, 0.5) !important;
}
.ftco-footer .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.ftco-footer .subscribe-form .form-group input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1) !important;
  border: none;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16px;
}
.ftco-footer .subscribe-form .form-group input::-webkit-input-placeholder {

  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group input::-moz-placeholder {

  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group input:-ms-input-placeholder {

  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group input:-moz-placeholder {

  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group .submit {
  color: #fff !important;
  font-size: 16px;
  background: #c8a97e !important;
  border: none !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.ftco-footer .subscribe-form .form-group .submit:hover {
  cursor: pointer;
}
.ftco-footer .subscribe-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #fff;
}

.footer-small-nav > li {
  display: inline-block;
}
.footer-small-nav > li a {
  margin: 0 10px 10px 0;
}
.footer-small-nav > li a:hover,
.footer-small-nav > li a:focus {
  color: #c8a97e;
}

.media .ftco-icon {
  width: 100px;
}
.media .ftco-icon span {
  color: #c8a97e;
}

#map {
  width: 100%;
}
@media (max-width: 767.98px) {
  #map {
    height: 300px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(200, 169, 126, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(200, 169, 126, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(200, 169, 126, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(200, 169, 126, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(200, 169, 126, 0.4);
    box-shadow: 0 0 0 0 rgba(200, 169, 126, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(200, 169, 126, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(200, 169, 126, 0);
    box-shadow: 0 0 0 30px rgba(200, 169, 126, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(200, 169, 126, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(200, 169, 126, 0);
    box-shadow: 0 0 0 0 rgba(200, 169, 126, 0);
  }
} */
/* form booking-detail */
.booking-detail {
  display: flex;
  padding-top: 50px;
}
#booking {
  font-family: "Raleway", sans-serif;
}
.card.zoom.booking {
  height: 455px;
}
.booking-form {
  padding-left: 30px;
}

.row.booking-form-input {
  margin: 0 !important;
}
/* .section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}



.booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 40px;
	overflow: hidden;
	background-image: url('/images/Booking_Table/table-3.jpg');
	background-size: cover;
	border-radius: 5px;
	z-index: 20;
}

.booking-form::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

/* .booking-form .form-header {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
} */
#booking {
  font-family: "Raleway", sans-serif;
}
.col-md-6.booking-input-left {
  padding-left: 0px;
  padding-right: 12px;
}
.col-md-6.booking-input-right {
  padding-left: 12px;
  padding-right: 0px;
}
/* .booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 40px;
	 overflow: hidden; 
 background-image: url('/images/Booking_Table/table-3.jpg'); 
   background-color: #B81F30; 
	background-size: cover;
	border-radius: 5px;
	z-index: 20;
}  */
.booking-form .form-header h1 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 42px;
  margin: 0px;
  color: #fff;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.booking-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  padding: 0px 25px;
  border: none;
  border-radius: 40px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px transparent;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.booking-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
  box-shadow: 0px 0px 0px 2px #ff8846;
}

.booking-form input[type="date"].form-control {
  padding-top: 16px;
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form input[type="date"].form-control + .form-label {
  opacity: 5;
  top: 10px;
}

.booking-form select.form-control:invalid {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.booking-form select.form-control option {
  color: #000;
}

.booking-form .form-label {
  position: absolute;
  top: -10px;
  left: 25px;
  opacity: 0;
  color: #ff8846;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  height: 15px;
  line-height: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-label {
  opacity: 1;
  top: 3px;
}

.booking-form .submit-btn {
  color: #fff;
  background-color: #e35e0a;
  font-weight: 700;
  height: 60px;
  padding: 10px 30px;
  width: 100%;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}
/* Form Employee */
/* Form Modal */

.table-responsive {
  margin: 30px 0;
}
.table-wrapper {
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 15px;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #d84602;
}
.pagination li.active a:hover {
  background: #d84602;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
  color: white;
}
a.page-link {
  background-color: rgba(255, 255, 255, 0.2);
}
.form-group-quality {
  display: flex;
}
.quanlity {
  padding: 0 !important;
}
.col-md-8.quanlity {
  width: 218px;
  flex: none !important;
}
h4.modal-title {
  color: black;
}
.col-md-4.quanlity {
  margin-left: 7px;
}
i.fas.fa-plus-circle {
  margin-top: 5px;
  margin-right: 4px;
}
.col-md-4 .all {
  display: flex;
  justify-content: flex-end;
}
/* Custom checkbox */
.custom-checkbox {
  position: relative;
}
input.form-control.search {
  padding-left: 34px !important;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}
.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}
.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #d84602;
  background: #d84602;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
  margin-top: 0px;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}
/* Modal styles */
.modal .modal-dialog.manager {
  max-width: 400px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
  color: black;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-radius: 0.25rem;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}

.modal form label {
  font-weight: normal;
  color: black;
}
.error {
  color: red !important;
}
.all i,
.all span {
  display: inline-block;
  vertical-align: middle;
  color: #d84602;
  font-size: 17px;
}

::after {
  margin-top: 10px;
}
.title-manager th {
  color: white;
}
.list-manager td {
  color: white;
  text-align: center;
}
thead.title-manager {
  text-align: center;
}
.form-control::placeholder {
  color: #999899 !important;
}
i.fas.fa-utensils {
  margin-right: 5px;
}

/* Search box */
.search-box {
  position: relative;
  float: right;
}
.search-box input {
  height: 34px;
  border-radius: 20px;
  padding-left: 35px;
  border-color: #ddd;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.search-box input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: white !important;
}
.search-box i {
  color: #a0a5b1;
  position: absolute;
  font-size: 19px;
  top: 8px;
  left: 10px;
}

/* Rate start */
* {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  /* font-size:30px; */
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
/*** Footer ***/
footer {
  background-color: #111111;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #999999 !important;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #999999 !important;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light) !important;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1) !important;
}

.footer .copyright a {
  color: var(--light) !important;
}

.footer .copyright a:hover {
  color: var(--primary) !important;
}
input.form-control.bg-transparent.w-100.py-3.ps-4.pe-5 {
  color: white;
}
/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
  width: 60px;
  height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 18px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: #ffffff;
  background: var(--primary);
}

/*** Plus minu ***/
/* .value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  border-radius: 8px 0 0 8px;
}

form #increase {
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  margin: 0px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Review Food */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap"); */

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

.card.comment {
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
}

.comment-text {
  font-size: 12px;
}

.fs-10 {
  font-size: 12px;
}
img.rounded-circle {
  width: 40px;
  height: 40px;
}

/*** Comment form ***/
/* input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
  padding: 0.68em 1em;
  background-color: var(--background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 8px;
  outline: 0;
} */

#commentform {
  display: flex;
  flex-wrap: wrap;
}

#commentform > p,
#commentform .comment-form-rating {
  padding: 0 12px;
  width: 100%;
}

p.comment-form-author {
  flex: 50%;
}

p.comment-form-comment {
  display: flex;
  flex-direction: column;
}

p.comment-form-author {
  display: flex;
  flex-direction: column;
}

p.comment-form-email {
  display: flex;
  flex-direction: column;
}

p.comment-form-author {
  max-width: 50%;
  flex: 50%;
}

p.comment-form-email {
  max-width: 50%;
}

p.comment-form-cookies-consent {
  display: flex;
}
.required {
  color: red;
}
input#wp-comment-cookies-consent {
  margin-top: -23px;
  margin-right: 10px;
}

.form-control:focus {
  box-shadow: 0px 0px 0px 2px #ff8846;
}
.form-select:focus {
  box-shadow: 0px 0px 0px 2px #ff8846;
}
p textarea#comment {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}

p input#author {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}

p input#email {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}
/*** Testimonial ***/
.carousel-container .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.carousel-container .owl-nav button {
  margin: 0 10px;
}

div#detail-food {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
li.react-multi-carousel-item {
  width: 323px !important;
}
li.react-multi-carousel-item.react-multi-carousel-item--active.carousel-item-padding-10-px {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*** Cart ***/

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
.bg-grey {
  background-color: #eae8e8;
}
.col-lg-4.bg-grey {
  color: black;
}

input#form3Examplea2 {
  padding: 0 0.68em !important;
}

.cart-item-count {
  position: absolute; /* Thêm thuộc tính position */
  top: 27%;
  left: 74%;
  transform: translate(-50%, -50%); /* Dịch chuyển vị trí tới giữa */
  font-size: 9px;
  background-color: #ed3a52;
  color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item-count.hidden {
  display: none;
}

/*** Modal Cart ***/
td.quantity-Modal {
  width: 70px;
  padding: 0px;
}
input.form-control.quantity-input {
  display: flex;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}
input#quantityFood {
  padding: 5px 5px;
}
h5.text-total-modal {
  color: black;
}

/*** Cart Food ***/
input#cartFood-quantity {
  display: flex;
  text-align: center;
}
.btn-link i.fas.fa-plus {
  color: #6c757d;
}

.btn-link i.fas.fa-minus {
  color: #6c757d;
}
/* Payment */
.separator {
  border-bottom: 1px solid #5a5a5a;
  padding-bottom: 15px;
}
.col-md-8.order-md-1 {
  padding-bottom: 20px;
}

.input-payment {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}
span.input-group-text.icon-disabled {
  border-radius: 3px 0 0 3px;
}
a.nav-link.active {
  background-color: #dc3545 !important;
}
.nav-link {
  color: white !important;
}
.text-muted {
  cursor: pointer;
}
.product-item-icon {
  color: #6c757d !important;
  cursor: pointer;
}

.text-heading {
  font-size: 20px;
  font-weight: bold;
}
.text-content {
  font-size: 14px;
  padding-top: 15px;
}
input#userName {
  width: 80%;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-items {
  position: absolute;
  background-color: DodgerBlue !important;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
option {
  color: black;
}
select .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}
.paymentFood {
  color: white !important;
}
span.input-group-text.text-muted {
  height: 38px;
}
div#credit-card {
  color: white;
}
div#net-banking {
  color: white;
}

/* Modal Style payment QR code */

.modal-content {
  border-radius: 0;
}

.modal-body {
  padding: 20px;
}

.close {
  color: #000;
  cursor: pointer;
}

.tabs {
  text-align: center;
}

.tabs h5 {
  font-size: 20px;
  margin-bottom: 15px;
}

.nav-tabs {
  border-bottom: none;
  justify-content: center;
}

.nav-link.active {
  background-color: transparent;
}

.nav-link.active img {
  border: 2px solid #000;
}

.bank-info {
  text-align: left;
  margin-bottom: 15px;
  color: black;
}

.bank-info p {
  margin-bottom: 5px;
}

.form-group.bank-image {
  margin-bottom: 15px;
  color: black;
  display: flex;
  /* flex-direction: column; */
}

label.file-label {
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}

label.file-label:hover {
  color: #888;
}

label.file-label i {
  margin-right: 5px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
  small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        /* border-radius: 100%; */
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          content: "\f040";
          font-family: "FontAwesome";
          color: #757575;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    /* border-radius: 100%; */
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      /* border-radius: 100%; */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.avatar-upload {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0;
}

.avatar-edit input {
  display: none;
}

.avatar-edit label {
  display: inline-block;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  display: inline-block;
}

.avatar-preview div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.file-label {
  cursor: pointer;
}

.file-label i {
  margin-right: 5px;
}
.bank-info-name {
  display: flex;
  justify-content: space-between;
}
.bank-info-name p {
  color: black !important;
}
.bank-info-nameBank p {
  color: black !important;
}
.bank-info-payment p {
  color: black !important;
}
/* Login Logout */
.appAside {
  width: 50%;
  background-color: black;
  padding-right: 0px !important;
}

.dropdown.logout:hover .dropdown-menu {
  display: block;
}

.dropdown.logout:hover:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: transparent transparent white;
  position: absolute;
  top: 33px;
  right: 10px;
}
ul.dropdown-menu.logout {
  top: 52px;
  left: -51px;
}
.appForm {
  width: 50%;
  background-color: #12130f;
  padding: 25px 40px;
  overflow: auto;
  padding-left: 40px !important;
}

.pageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 23%;
}

.pageSwitcherItem {
  background-color: #40434e;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.pageSwitcherItem-active {
  background-color: #6b5b95;
  color: white;
}

.pageSwitcherItem:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.pageSwitcherItem:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.formCenter {
  margin-bottom: 100px;
  display: none;
}

.formTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 20px;
}

.formTitleLink {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLink-active {
  color: white;
  border-bottom: 1px solid #6b5b95;
}

.formField {
  margin-bottom: 40px;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.formFieldInput {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.formFieldButton {
  background-color: #dc3545;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.formFieldLink {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #6b5b95;
  padding-bottom: 5px;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: white;
  border-bottom: 1px solid #6b5b95;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.socialMediaButtons {
  padding: 10px 100px 10px 0px;
}
button.pageSwitcherItem.active {
  background-color: #dc3545;
  color: white;
}
li.dropdown.menu-item.rounded-icon.logout {
  z-index: 2;
}
li.menu-item-login a {
  color: black !important;
  font-size: 15px;
}
.dropdown-menu li.menu-item-login a:hover {
  background-color: white;
  color: #2196f3;
}
.custom-alert {
  background-color: #da0c1d !important;
  color: white !important;
  border-color: #ee071e !important;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.custom-alert .close {
  position: relative;
  top: -2px;
}
.Error-Succer {
  width: 850px;
}
